{% extends 'layouts.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Add Expenditure Details</title>
{% endblock %}

{% block main_content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Add Expenditure Details</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <!-- Submit Button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Submit Details</button>
        </div>
    </form>
</div>
{% endblock %}